Web References/RefWebCPA/CleansingService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns="http://webservices" xmlns:ns1="http://org.apache.axis2/xsd" targetNamespace="http://webservices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
		Dyalecto
	</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://webservices">
      <xs:element name="exec">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="authKey" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="xmlText" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="execResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="execRequest">
    <wsdl:part name="parameters" element="ns:exec" />
  </wsdl:message>
  <wsdl:message name="execResponse">
    <wsdl:part name="parameters" element="ns:execResponse" />
  </wsdl:message>
  <wsdl:portType name="CleansingServicePortType">
    <wsdl:operation name="exec">
      <wsdl:input wsaw:Action="urn:exec" message="ns:execRequest" />
      <wsdl:output wsaw:Action="urn:execResponse" message="ns:execResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CleansingServiceSoap11Binding" type="ns:CleansingServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="exec">
      <soap:operation soapAction="urn:exec" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CleansingServiceSoap12Binding" type="ns:CleansingServicePortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="exec">
      <soap12:operation soapAction="urn:exec" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CleansingServiceHttpBinding" type="ns:CleansingServicePortType">
    <http:binding verb="POST" />
    <wsdl:operation name="exec">
      <http:operation location="CleansingService/exec" />
      <wsdl:input>
        <mime:content part="exec" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="exec" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CleansingService">
    <wsdl:port name="CleansingServiceHttpsSoap11Endpoint" binding="ns:CleansingServiceSoap11Binding">
      <soap:address location="https://wsec01.correoargentino.com.ar/domicilios/services/CleansingService.CleansingServiceHttpsSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="CleansingServiceHttpSoap11Endpoint" binding="ns:CleansingServiceSoap11Binding">
      <soap:address location="http://wsec01.correoargentino.com.ar/domicilios/services/CleansingService.CleansingServiceHttpSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="CleansingServiceHttpSoap12Endpoint" binding="ns:CleansingServiceSoap12Binding">
      <soap12:address location="http://wsec01.correoargentino.com.ar/domicilios/services/CleansingService.CleansingServiceHttpSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="CleansingServiceHttpsSoap12Endpoint" binding="ns:CleansingServiceSoap12Binding">
      <soap12:address location="https://wsec01.correoargentino.com.ar/domicilios/services/CleansingService.CleansingServiceHttpsSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="CleansingServiceHttpEndpoint" binding="ns:CleansingServiceHttpBinding">
      <http:address location="http://wsec01.correoargentino.com.ar/domicilios/services/CleansingService.CleansingServiceHttpEndpoint/" />
    </wsdl:port>
    <wsdl:port name="CleansingServiceHttpsEndpoint" binding="ns:CleansingServiceHttpBinding">
      <http:address location="https://wsec01.correoargentino.com.ar/domicilios/services/CleansingService.CleansingServiceHttpsEndpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>